
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/*.txt
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/app/ocr_pages
/storage/app/uploads
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.sql
*.tar.gz
*.zip
/test.bldlegalized.com
/25-09-2025
/public/uploads
/public/uploads-10
